<style  type="text/css">
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

loud {
    font-size: 20pt;
    }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2024, Sections 002/V02
</span>
</center></b>
<br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 2: Programming
</span>
</center></i>

# Introduction

This notebook contains HW2 Programming. **Only students on the programming track should complete this part.** To ensure everything runs as expected, work on this notebook in Jupyter.

Submission instructions:

- You will submit **PDF and ZIP files** for this assignment. Gradescope will have two separate assignments for these.
- For the PDF:
    - The most reliable way to save as PDF is to go to your browser's menu bar and click `File -> Print`. **Switch the orientation to landscape mode**, and hit save.
    - **MAKE SURE ALL YOUR WORK (CODE AND SCREENSHOTS) IS VISIBLE ON THE PDF. YOU WILL NOT GET CREDIT IF ANYTHING IS CUT OFF.** Reach out for troubleshooting.
- For the ZIP:
    - Zip the folder that contains this notebook, any screenshots, and the code you write.
    - To avoid freezing Gradescope with too many files, when you finish this assignment, delete any unnecessary directories. Such directories include `venv`, `.idea`, and `.git`.

<hr style="height:2px;">

# Setup

## SQL Magic

The `sql` extension was installed in HW0. Double check that if this cell doesn't work.

In [1]:
%load_ext sql

You may need to change the password below.

In [2]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [3]:
%sql SELECT * FROM db_book.student WHERE ID = 12345

 * mysql+pymysql://root:***@localhost
1 rows affected.

[('12345', 'Shankar', 'Comp. Sci.', Decimal('32'))]

## Python Libraries

In [4]:
!pip install pandas
!pip install sqlalchemy
!pip install requests

Requirement already satisfied: pandas in /Users/darthvaper/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/darthvaper/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/darthvaper/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/darthvaper/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/darthvaper/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/darthvaper/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: sqlalchemy in /Users/darthvaper/anaconda3/lib/python3.11/site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/darthvaper/anaconda3/lib/python3.11/site-packages (from sqlalchemy) (4.7.1)
Requirement already satisfied: requests in /Users/darthvaper/anaconda3/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/darthvaper/anaconda3/lib/python3.11/site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/darthvaper/anaconda3/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/darthvaper/anaconda3/lib/python3.11/site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/darthvaper/anaconda3/lib/python3.11/site-packages (from requests) (2023.11.17)

In [4]:
import json

import pandas as pd
from sqlalchemy import create_engine
import requests

You may need to change the password below.

In [5]:
engine = create_engine("mysql+pymysql://root:dbuserdbuser@localhost")

<hr style="height:2px;">

# Data Definition and Insertion

## Create Tables

- The directory contains a file ```people_info.csv```. The columns are
    - ```first_name```
    - ```middle_name```
    - ```last_name```
    - ```email```
    - ```employee_type,``` which can be one of ```Professor```, ```Lecturer```, ```Staff```. The value is empty if the person is a student.
    - ```enrollment_year``` which must be in the range ```2016-2023```. The value is empty if the person is an employee.   


- In the cell below, create two tables, `student` and `employee`
    - You should choose appropriate data types for the attributes
    - You should add an attribute `student_id` to `student` and `employee_id` to `employee`. **These attributes should be auto-incrementing numbers.** They are the PKs of their tables.
    - `email` should be unique and non-null in their tables. You don't need to worry about checking whether `email` is unique across both tables.
    - `student` should have all the columns listed above except `employee_type`. You should have some way to ensure that `enrollment_year` is always in range.
    - `employee` should have all the columns listed above except `enrollment_year`. You should have some way to ensure that `employee_type` is one of the valid values.

In [30]:
%%sql

DROP SCHEMA IF EXISTS s24_hw2;
CREATE SCHEMA s24_hw2;
USE s24_hw2;

## Add CREATE TABLEs below
CREATE TABLE student (
    student_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(255),
    middle_name VARCHAR(255),
    last_name VARCHAR(255),
    email VARCHAR(255) UNIQUE NOT NULL,
    enrollment_year YEAR CHECK (enrollment_year BETWEEN 2016 AND 2023)
);

CREATE TABLE employee (
    employee_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(255),
    middle_name VARCHAR(255),
    last_name VARCHAR(255),
    email VARCHAR(255) UNIQUE NOT NULL,
    employee_type ENUM('Professor', 'Lecturer', 'Staff') NOT NULL
);

 * mysql+pymysql://root:***@localhost
2 rows affected.
1 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

## Inserting Data

- Below we read `people_info.csv` into a Pandas Dataframe
- You should implement `get_students` and `get_employees`, which extract the student/employee rows from a dataframe of people
- If you implement the functions correctly, the next cell should run with no errors and insert data into the tables you created above

In [31]:
df = pd.read_csv("./people_info.csv")
df

,first_name,middle_name,last_name,email,employee_type,enrollment_year
0,Sanders,Arline,Breckell,abreckell1x@fotki.com,Professor,NaN
1,Zared,NaN,Fenelon,afenelona@themeforest.net,NaN,2021.0
2,Ethelin,NaN,Fidele,afidele12@google.ru,Lecturer,NaN
3,Bibbye,Annabal,Guesford,aguesfordb@tumblr.com,NaN,2018.0
4,Xenia,Ardella,Kief,akieft@free.fr,Staff,NaN
...,...,...,...,...,...,...
95,Norry,NaN,Rubinchik,trubinchik16@howstuffworks.com,NaN,2016.0
96,Doug,NaN,Medforth,vmedforth1o@homestead.com,Staff,NaN
97,Gerty,NaN,O'Donegan,vodoneganf@clickbank.net,NaN,2020.0
98,Anabelle,Wallas,Quimby,wquimby1c@nba.com,NaN,2022.0
99,Sasha,Win,Ruffli,wruffli2q@wordpress.com,Lecturer,NaN

In [32]:
def get_students(df):
    """Given a dataframe of people df, returns a new dataframe that only contains students.
    The returned dataframe should have all the attributes of the people df except `employee_type`.
    """
    return df[df.employee_type.isna()].drop(columns='employee_type')
    
def get_employees(df):
    """Given a dataframe of people df, returns a new dataframe that only contains employees.
    The returned dataframe should have all the attributes of the people df except `enrollment_year`.
    """
    return df[df.employee_type.notna()].drop(columns='enrollment_year')

In [33]:
student_df = get_students(df)
employee_df = get_employees(df)

student_df.to_sql("student", schema="s24_hw2", index=False, if_exists="append", con=engine)
employee_df.to_sql("employee", schema="s24_hw2", index=False, if_exists="append", con=engine)

50

In [44]:
employee_df

,first_name,middle_name,last_name,email,employee_type
0,Sanders,Arline,Breckell,abreckell1x@fotki.com,Professor
2,Ethelin,NaN,Fidele,afidele12@google.ru,Lecturer
4,Xenia,Ardella,Kief,akieft@free.fr,Staff
5,Cari,Andriana,Leask,aleask1n@devhub.com,Lecturer
8,Lemmy,Burr,Bradnocke,bbradnockek@nifty.com,Lecturer
10,Sibylle,Bearnard,Lalley,blalley2d@rediff.com,Lecturer
13,Lu,Cinnamon,Flaxman,cflaxman1b@cdbaby.com,Lecturer
19,Hobart,Dominic,Croal,dcroalx@purevolume.com,Professor
20,Marylin,Darcy,Favey,dfavey2p@mozilla.com,Staff
22,Ailbert,Danie,Warmisham,dwarmishame@soundcloud.com,Staff
24,Karon,NaN,Bree,ebree1z@creativecommons.org,Professor
26,Maybelle,Esteban,Cella,ecella26@mail.ru,Staff
27,Lelah,Ellette,Fulk,efulk1d@discuz.net,Staff
37,Gisela,NaN,Blagden,gblagden1q@buzzfeed.com,Professor
39,Niki,Gardiner,Form,gform18@blogger.com,Staff
40,Suki,NaN,Hellyar,ghellyar2a@cornell.edu,Staff
43,Carmine,NaN,Tolman,gtolmanr@slideshare.net,Staff
44,Wells,NaN,Yousef,gyousef2r@spotify.com,Professor
47,Christie,NaN,Siegertsz,hsiegertsz21@instagram.com,Professor
48,Doyle,NaN,Aslin,jaslin24@redcross.org,Lecturer
49,Robinett,Jami,Charte,jcharte1y@merriam-webster.com,Staff
50,Olwen,NaN,Hedley,jhedley1m@disqus.com,Staff
53,Renae,Jaquith,Plessing,jplessing0@samsung.com,Staff
56,Lilllie,NaN,Snodin,jsnodin20@princeton.edu,Lecturer
58,Sayers,Karon,McKnish,kmcknishs@reddit.com,Lecturer
59,Electra,Krystle,Morfell,kmorfell2g@istockphoto.com,Professor
60,Matthieu,Kalle,Slipper,kslipper2f@nytimes.com,Staff
61,Nadia,NaN,Trehearn,ktrehearn19@tinyurl.com,Lecturer
62,Clim,NaN,Guislin,lguislin2o@chicagotribune.com,Professor
64,Holli,NaN,Henstridge,lhenstridgeh@sogou.com,Lecturer
65,Meghan,NaN,Kleinschmidt,lkleinschmidtl@squarespace.com,Lecturer
66,Genni,NaN,Purbrick,lpurbrick25@canalblog.com,Professor
67,Bonny,NaN,Scheffel,lscheffel7@taobao.com,Professor
68,Mendie,NaN,Tennick,ltennick3@aboutads.info,Staff
70,Karole,NaN,Inkin,minkinc@google.de,Staff
72,Kahaleel,Meg,Penzer,mpenzer14@dailymail.co.uk,Professor
74,Darrin,Mario,Wynrahame,mwynrahamem@admin.ch,Professor
75,Carey,Maudie,Wyrall,mwyrallj@scientificamerican.com,Staff
76,Jacky,Nydia,Bolles,nbolles23@ucoz.ru,Staff
77,Francene,NaN,MacNeely,nmacneely22@cpanel.net,Lecturer
81,Bamby,Rubetta,Mabbs,rmabbs4@xing.com,Lecturer
82,Ari,Rheta,Sellek,rsellek6@oakley.com,Lecturer
86,Bettina,Sonya,Higgonet,shiggonet2b@163.com,Lecturer
87,Jany,Sherry,Johl,sjohlg@soundcloud.com,Professor
88,Pattie,NaN,Lyles,slyles1j@amazon.de,Staff
89,Kristin,NaN,Malacrida,smalacrida1w@economist.com,Staff
90,Yehudi,Sile,McColley,smccolleyq@amazon.com,Staff
92,Duncan,Shellie,Sillars,ssillars2l@unicef.org,Professor
96,Doug,NaN,Medforth,vmedforth1o@homestead.com,Staff
99,Sasha,Win,Ruffli,wruffli2q@wordpress.com,Lecturer

<hr style="height:2px;">

# API Implementation

- You will create an API that allows users to [read, create, update, and delete](https://en.wikipedia.org/wiki/Create,_read,_update_and_delete) students and employees
- The `src/` directory has the following structure:

```
src
|
|- db.py
|
|- db_test.py
|
|- main.py
```

## Python Environment

1. Open the `src/` folder in PyCharm
2. Follow [these instructions](https://www.jetbrains.com/help/pycharm/creating-virtual-environment.html#python_create_virtual_env) to set up a virtual environment. This'll give us an blank, isolated environment for packages that we install. It's fine to use the `Virtualenv Environment` tab.
3. Open the Terminal in PyCharm. Make sure your virtual environment is active (you'll probably see `(venv)` somewhere).
    1. If you don't, [the docs](https://docs.python.org/3/library/venv.html#how-venvs-work) may be helpful
4. Run `pip install -r requirements.txt`
    1. `requirements.txt` contains all the packages that the project needs, such as `pymysql`

## db.py

- Implement the eight methods in `db.py`: `build_select_query`, `select`, `build_insert_query`, `insert`, `build_update_query`, `update`, `build_delete_query`, and `delete`
    - To see examples of the inputs and expected outputs for the `build_*` functions, see `db_test.py`
    
## db_test.py
- To test your `build_*` methods, run the `db_test.py` file. This file defines some unit tests. 
- **Post a screenshot of your successful tests below**

| <img src="./unit_tests.png"> |
| :---: |
| __Successful Unit Tests__|

## main.py

- `main.py` declares our API and defines paths for it
    - The `@app` decorator above each method describes the HTTP method and the path associated with that method
- Implement the ten endpoints in `main.py`: `get_students`, `get_student`, `post_student`, `put_student`, `delete_student`, `get_employees`, `get_employee`, `post_employee`, `put_employee`, and `delete_employee`

<hr style="height:2px;">

# Testing Your API

## Student Testing

- With your API running, execute the following cells
    - Successful cells may have no output. However, failing cells will generate an error.

In [21]:
BASE_URL = "http://localhost:8002/"

def print_json(j):
    print(json.dumps(j, indent=2))

In [23]:
# Healthcheck

r = requests.get(BASE_URL)
print(r.text)

<h1>Heartbeat</h1>

In [59]:
# Get all students

r = requests.get(BASE_URL + "students")
j = r.json()

assert len(j) == 50, "There should be 50 students after inserting data"

In [60]:
# Get specific attributes

r = requests.get(BASE_URL + "students?enrollment_year=2018&fields=first_name,last_name")
j = r.json()

print_json(j)
assert len(j) == 7, "There should be 7 students that graudated in 2018"
assert all(map(lambda o: len(o) == 2 and "first_name" in o and "last_name" in o, j)), \
"All student JSONs should have two attributes, first_name and last_name"

[
  {
    "first_name": "Bibbye",
    "last_name": "Guesford"
  },
  {
    "first_name": "Barry",
    "last_name": "Elias"
  },
  {
    "first_name": "Avie",
    "last_name": "Blissitt"
  },
  {
    "first_name": "Shea",
    "last_name": "Bates"
  },
  {
    "first_name": "Mal",
    "last_name": "Issett"
  },
  {
    "first_name": "Rozelle",
    "last_name": "Vigar"
  },
  {
    "first_name": "Drona",
    "last_name": "McKinie"
  }
]

In [61]:
# Test bad gets

# Invalid ID
r = requests.get(BASE_URL + "students/100")
assert r.status_code == 404, f"Invalid ID: Expected 404 Not Found but got {r.status_code}"

In [62]:
# Create a new student

or_student = {
    "first_name": "Michael",
    "last_name": "Jan",
    "email": "ap@columbia.edu",
    "enrollment_year": 2019,
}

r = requests.post(BASE_URL + "students", json=or_student)
assert r.status_code == 201, f"Expected 201 Created but got {r.status_code}"

In [63]:
# Get that student

r = requests.get(BASE_URL + "students/51")
j = r.json()

print_json(j)
assert j == {
    'student_id': 51,
    'first_name': 'Michael',
    'middle_name': None,
    'last_name': 'Jan',
    'email': 'ap@columbia.edu',
    'enrollment_year': 2019,
}, "Newly inserted student does not match what we specified"

{
  "student_id": 51,
  "first_name": "Michael",
  "middle_name": null,
  "last_name": "Jan",
  "email": "ap@columbia.edu",
  "enrollment_year": 2019
}

In [64]:
# Test bad posts

# Duplicate email
bad_student = {
    "first_name": "Foo",
    "last_name": "Bar",
    "email": "ap@columbia.edu",
    "enrollment_year": 2018,
}
r = requests.post(BASE_URL + "students", json=bad_student)
assert r.status_code == 400, f"Duplicate email: Expected 400 Bad Request but got {r.status_code}"

# Email not specified
bad_student = {
    "first_name": "Foo",
    "last_name": "Bar",
    "enrollment_year": 2018,
}
r = requests.post(BASE_URL + "students", json=bad_student)
assert r.status_code == 400, f"Email not specified: Expected 400 Bad Request but got {r.status_code}"

# Invalid year
bad_student = {
    "first_name": "Foo",
    "last_name": "Bar",
    "email": "fb@columbia.edu",
    "enrollment_year": 2011,
}
r = requests.post(BASE_URL + "students", json=bad_student)
assert r.status_code == 400, f"Invalid year: Expected 400 Bad Request but got {r.status_code}"

In [65]:
# Update the student

r = requests.put(BASE_URL + "students/51", json={"enrollment_year": "2020"})
assert r.status_code == 200, f"Expected 200 OK but got {r.status_code}"

In [66]:
# Test bad puts

# Duplicate email
bad_student = {
    "email": "csimeons2@microsoft.com",
}
r = requests.put(BASE_URL + "students/51", json=bad_student)
assert r.status_code == 400, f"Duplicate email: Expected 400 Bad Request but got {r.status_code}"

# Email set to null
bad_student = {
    "email": None
}
r = requests.put(BASE_URL + "students/51", json=bad_student)
assert r.status_code == 400, f"Null email: Expected 400 Bad Request but got {r.status_code}"

# Invalid year
bad_student = {
    "enrollment_year": 2011
}
r = requests.put(BASE_URL + "students/51", json=bad_student)
assert r.status_code == 400, f"Invalid year: Expected 400 Bad Request but got {r.status_code}"

# Invalid ID
bad_student = {
    "enrollment_year": 2018
}
r = requests.put(BASE_URL + "students/100", json=bad_student)
assert r.status_code == 404, f"Invalid ID: Expected 404 Not Found but got {r.status_code}"

In [67]:
# Delete the student

r = requests.delete(BASE_URL + "students/51")
assert r.status_code == 200, f"Expected 200 OK but got {r.status_code}"

In [68]:
# Try to get deleted student

r = requests.get(BASE_URL + "students/51")
assert r.status_code == 404, f"Expected 404 Not Found but got {r.status_code}"

In [70]:
# Test bad deletes

r = requests.delete(BASE_URL + "students/100")
assert r.status_code == 404, f"Invalid ID: Expected 404 Not Found but got {r.status_code}"

## Employee Testing

- Write similar tests below to test your employee endpoints

In [34]:
# Get all students

r = requests.get(BASE_URL + "employees")
j = r.json()

assert len(j) == 50, "There should be 50 employees after inserting data"

In [35]:
# Get specific attributes

r = requests.get(BASE_URL + "employees?employee_type=Lecturer&fields=first_name,last_name")
j = r.json()

print_json(j)
assert len(j) == 16, "There should be 16 employees that are Lecturers"
assert all(map(lambda o: len(o) == 2 and "first_name" in o and "last_name" in o, j)), \
"All student JSONs should have two attributes, first_name and last_name"

[
  {
    "first_name": "Ethelin",
    "last_name": "Fidele"
  },
  {
    "first_name": "Cari",
    "last_name": "Leask"
  },
  {
    "first_name": "Lemmy",
    "last_name": "Bradnocke"
  },
  {
    "first_name": "Sibylle",
    "last_name": "Lalley"
  },
  {
    "first_name": "Lu",
    "last_name": "Flaxman"
  },
  {
    "first_name": "Doyle",
    "last_name": "Aslin"
  },
  {
    "first_name": "Lilllie",
    "last_name": "Snodin"
  },
  {
    "first_name": "Sayers",
    "last_name": "McKnish"
  },
  {
    "first_name": "Nadia",
    "last_name": "Trehearn"
  },
  {
    "first_name": "Holli",
    "last_name": "Henstridge"
  },
  {
    "first_name": "Meghan",
    "last_name": "Kleinschmidt"
  },
  {
    "first_name": "Francene",
    "last_name": "MacNeely"
  },
  {
    "first_name": "Bamby",
    "last_name": "Mabbs"
  },
  {
    "first_name": "Ari",
    "last_name": "Sellek"
  },
  {
    "first_name": "Bettina",
    "last_name": "Higgonet"
  },
  {
    "first_name": "Sasha",
    "last_name": "Ruffli"
  }
]

In [36]:
# Test bad gets

# Invalid ID
r = requests.get(BASE_URL + "employees/100")
assert r.status_code == 404, f"Invalid ID: Expected 404 Not Found but got {r.status_code}"

In [38]:
# Create a new employee

or_employee = {
    "first_name": "New",
    "middle_name": "Employee",
    "last_name": "Lastname",
    "email": "professor@columbia.edu",
    "employee_type": "Staff",
}

r = requests.post(BASE_URL + "employees", json=or_employee)
assert r.status_code == 201, f"Expected 201 Created but got {r.status_code}"

In [39]:
# Get that employee

r = requests.get(BASE_URL + "employees/51")
j = r.json()

print_json(j)
assert j == {
    'employee_id': 51,
    "first_name": "New",
    "middle_name": "Employee",
    "last_name": "Lastname",
    "email": "professor@columbia.edu",
    "employee_type": "Staff",
}, "Newly inserted employee does not match what we specified"

{
  "employee_id": 51,
  "first_name": "New",
  "middle_name": "Employee",
  "last_name": "Lastname",
  "email": "professor@columbia.edu",
  "employee_type": "Staff"
}

In [45]:
# Test bad posts

# Duplicate email
bad_employee = {
    "first_name": "Foo",
    "last_name": "Bar",
    "email": "professor@columbia.edu",
    "employee_type": "staff",
}
r = requests.post(BASE_URL + "employees", json=bad_employee)
assert r.status_code == 400, f"Duplicate email: Expected 400 Bad Request but got {r.status_code}"

# Email not specified
bad_employee = {
    "first_name": "Foo",
    "last_name": "Bar",
    "employee_type": "Lecturer",
}
r = requests.post(BASE_URL + "students", json=bad_employee)
assert r.status_code == 400, f"Email not specified: Expected 400 Bad Request but got {r.status_code}"

# Invalid employee type
bad_employee = {
    "first_name": "Foo",
    "last_name": "Bar",
    "email": "fb@columbia.edu",
    "employee_type": 'random word',
}

# Employee type not specified
bad_employee = {
     "first_name": "Foo",
    "last_name": "Bar",
    "email": "fb@columbia.edu",
}
r = requests.post(BASE_URL + "employees", json=bad_employee)
assert r.status_code == 400, f"Invalid employee type: Expected 400 Bad Request but got {r.status_code}"

In [43]:
# Update the employee

r = requests.put(BASE_URL + "employees/51", json={"employee_type": "Staff"})
assert r.status_code == 200, f"Expected 200 OK but got {r.status_code}"

In [48]:
# Test bad puts

# Duplicate email
bad_employee = {
    "email": "nmacneely22@cpanel.net",
}
r = requests.put(BASE_URL + "employees/51", json=bad_employee)
assert r.status_code == 400, f"Duplicate email: Expected 400 Bad Request but got {r.status_code}"

# Email set to null
bad_employee = {
    "email": None
}
r = requests.put(BASE_URL + "employees/51", json=bad_employee)
assert r.status_code == 400, f"Null email: Expected 400 Bad Request but got {r.status_code}"

# Invalid employee type
bad_employee = {
    "employee_type": "random word"
}
r = requests.put(BASE_URL + "employees/51", json=bad_employee)
assert r.status_code == 400, f"Invalid year: Expected 400 Bad Request but got {r.status_code}"

# Invalid ID
bad_employee = {
    "employee_type": "Lecturer"
}
r = requests.put(BASE_URL + "employees/100", json=bad_employee)
assert r.status_code == 404, f"Invalid ID: Expected 404 Not Found but got {r.status_code}"

In [54]:
# Delete the student

r = requests.delete(BASE_URL + "employees/51")
assert r.status_code == 200, f"Expected 200 OK but got {r.status_code}"

In [55]:
# Try to get deleted student

r = requests.get(BASE_URL + "employees/51")
assert r.status_code == 404, f"Expected 404 Not Found but got {r.status_code}"

In [56]:
# Test bad deletes

r = requests.delete(BASE_URL + "employees/100")
assert r.status_code == 404, f"Invalid ID: Expected 404 Not Found but got {r.status_code}"