<style  type="text/css">
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

loud {
    font-size: 20pt;
    }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2024, Sections 002/V02
</span>
</center></b>
<br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 1<br>Introduction to Core Concepts, ER Modeling, Relational Algebra, SQL<br>
</span>
</center></i>

# Introduction

This notebook contains Homework 1. **Both Programming and Nonprogramming tracks should complete this homework.**

# Submission Instructions

- You will submit **PDF and ZIP files** for this assignment. Gradescope will have two separate assignments for these.
- For the PDF:
    - The most reliable way to save as PDF is to go to your browser's menu bar and click `File -> Print`. Switch the orientation to landscape mode, and hit save.
    - **MAKE SURE ALL YOUR WORK (CODE AND SCREENSHOTS) IS VISIBLE ON THE PDF. YOU WILL NOT GET CREDIT IF ANYTHING IS CUT OFF.** Reach out for troubleshooting.
    - **MAKE SURE YOU DON'T SUBMIT A SINGLE PAGE PDF.** Your PDF should have multiple pages.
- For the ZIP:
    - Zip a folder containing this notebook and any screenshots.
    - You may delete any unnecessary files, such as caches.

<hr style="height:2px;">

# Add Student Information

In [1]:
# Print your name, uni, and track below

name = "Lexa Huang"
uni = "sh4350"
track = "Programming Track"

print(name)
print(uni)
print(track)

Lexa Huang
sh4350
Programming Track

# Setup

## SQL Magic

The `sql` extension was installed in HW0. Double check that if this cell doesn't work.

In [6]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

You may need to change the password below.

In [7]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [8]:
%sql SELECT * FROM db_book.student WHERE ID = 12345

 * mysql+pymysql://root:***@localhost
1 rows affected.

[('12345', 'Shankar', 'Comp. Sci.', Decimal('32'))]

## Python Libraries

In [5]:
from IPython.display import Image
import pandas

<hr style="height:2px;">

# Written Questions

Chapter 1 from the recommended textbook [Database System Concepts, Seventh Edition](https://codex.cs.yale.edu/avi/db-book/) covers general information and concepts about databases and database management systems. Lecturing on the general and background information is not a good use of precious class time. To be more efficient with class time, the chapter 1 information is a reading assignment.

Answering the written questions in HW 1, Part 1 does not require purchasing the textbook and reading the chapter. The [chapter 1 slides](https://codex.cs.yale.edu/avi/db-book/slides-dir/index.html) provided by the textbook authors provide the necessary information. In some cases, students may also have to search the web or other sources to “read” the necessary information.

When answering the written questions, do not “bloviate”. The quantity of words does not correlate with the quality of the answer. We will deduct points if you are not succinct. The answers to the questions require less than five sentences or bullet points.

### “If you can't explain something in a few words, try fewer.”

You may use external resources, but you should cite your sources.

## W1

What is a database management system and how do relational databases organize data?

A database management system is a system to organize data not built directly on top of file systems. It addresses the problems of: data redundancy and inconsistency, difficulty in accessing data, data isolation, integrity problems, atomicity of updates, concurrent access by multiple users, and security problems. 

Relational databases organize data by storing it in tables, and has core concepts of relation, tuple (row), and column (Attribute).

## W2

Columbia University uses several applications that use databases to run the university. Examples are SSOL and CourseWorks. An alternate approach could be letting students, faculty, administrators, etc. use shared Google Sheets to create, retrieve, update, and delete information. What are some problems with the shared spread sheet approach and what functions do DMBS implement to solve the problems?

1. Security problems: It is hard to provide user access to some,  but not all, data. Access would need to be carefully controlled to prevent instances where an unauthorized user modifies information they should not be able to modify. For example, students choose to change their own grades or other students' grades to whatever score they want. DBMS solves this problem by having security features like user authentication, role-based access control, and encryption.

2. Concurrent Access by multiple users: Uncontrolled concurrent access can lead to inconsistencies in data or even loss of data. DBMS use locking mechanisms and transaction management to ensure data integrity during concurrent access. 

3. Scalability and performance: Spreadsheets may not be able to scale to the large number of students, faculty, and administrators in the school, and the large amount of data that needs to be tracked. DBMS are designed for scalability and handling large volumes of data and transactions efficiently, by using indexing, partitioning, and optimized query processing.

## W3

Explain the differences between SQL, MySQL Server and DataGrip.

SQL is a standardized programming language used for managing and manipulating relational databases, while MySQL Server is an example of an RDBMS (Relational Database Management System) that implements SQL for its operations. On the other hand, DataGrip is an integrated development environment (IDE) developed by JetBrains, designed to provide a user-friendly interface for database administrators and developers. It supports various database systems, including MySQL, enabling efficient interaction with databases through features like advanced SQL coding assistance, query execution, and data management tools.

## W4

Crow’s Foot Notation has four endings for relationship lines. Briefly explain the meaning of each ending.

<img src="./CFN.png">

1. One or Zero: optional relationship, there might be no connection between the entities, or there might be one.

2. One and only One: Not an optional relationship. No more than one relationship is possible between instances.

3. Zero or Many: optional relationship, there might be no connection between the entities, or there might be one or more.

4. One or Many: Not an optional relationship There might be more than one relationship between entities. 

Source: https://www.gleek.io/blog/crows-foot-notation

## W5

What is a primary key and why is it important?

The primary key is a composite key that indicates that the value occurs at most once. It is important as it acts as the unique identifier for each member in the set.

## W6

The relational algebra is closed under the operators. Explain what this means and give an example.

This means that whenever you apply a relational algebra operation to a relation in a database, the result is always another relation. This ensures that operations can be composed and nested.

## W7

Some of the Columbia University databases/applications represent the year/semester attribute of a section in the form "2023_2". The first four characters are the academic year, and the last character is the semester (1, 2, or 3). The data type for this attribute might be CHAR(6). Using this example, explain the concepts of domain and atomic domain. How is domain different from type?

Domain refers to the set of all values that the year/semester attribute can take on, which in this case includes all the possible combinations of valid years and valid semester numbers (1, 2, or 3). It is constrained by format (YYYY_S), and valid year numbers and semester numbers.

Atomic domain refers to the fact that the values in the domain are indivisible - they are treated as single units and cannot be decomposed into smaller components. The database treats "2023_2" as a single, indivisible entity. 

Type refers to "CHAR(6)", and is a technical specification of data storage format, whereas domain refers to the logical and business rules governing the attribute.

## W8

Briefly explain the difference between a database schema and database instance.

Database schema is the logical structure of the database, whereas database instance is a snapshot of the data in the database at a given
instant in time.

## W9

Briefly explain the concepts of data definition language and data manipulation language.

Data definition language is the specific notation for defining database schema. The DDL compiler generates a set of table templates stored in a data dictionary containing metadata such as database schema, integrity constraints, and authorization. 

Data manipulation language is the language for accessing and updating the data organized by the appropriate data model, also known as query language. There are two classes of languages, pure and commercial.

## W10

What is physical data independence?

It is the ability to modify the physical schema without changing the logical schema.

<hr style="height:2px;">

# Entity-Relationship Modeling

## Overview

The ability to understand a general description of a requested data model and to transform into a more precise, specified _logical model_ is one of the most important skills for using databases. SW and data engineers build applications and data models for end-users. The end-users, product managers and business managers are not SW or data modeling experts. They will express their _intent_ in imprecise, text and words.

The users and business stakeholder often can understand and interact using a _conceptual model_ but details like keys, foreign keys, ... are outside their scope.

In this problem, you will:
- Understand a short written description of a requested data model.
- Produce a _conceptual data model diagram_ using Lucidchart.
- Produce a _logical data model diagram_ using Lucidchart.

You can sign up for a free [Lucidchart account.](https://www.lucidchart.com/pages/landing) The free account provides the capabilities you will need for this course.

To draw the diagrams, you need to add the _entity relationship_ shapes. Lecture 2 demonstrated how to add the shapes.

| <img src="./lucidchart.jpg"> |
| :---: |
| __Adding Entity Relationship Shapes__|

We provide a simple [Lucidchart document](https://lucid.app/lucidchart/828777b1-7b2d-4828-bedb-37b6d456c33e/edit?invitationId=inv_a142899a-7e60-44e9-b18e-335d7c9767fc) from Lecture 2 that helps you get started. You need a Lucidchart account to access the document and diagrams.

## Data Model Description

The data model represents banks, customers. employees and accouts. The model has the following entity types/sets:
1. _Customer_
2. _Employee_ of the banking company
3. _Branch,_ which is a location of one of the banks offices
4. _Savings Account_
5. _Checking Account_
6. _Loan_
7. _Portfolio_


_Customer_ has the following properties:
- _customerID_
- _lastName_
- _firstName_
- _email_
- _dateOfBirth_


_Employee_ has the following properties:
- _employeeID_
- _lastName_
- _firstName_
- _jobTitle_


_Branch_ has the following properties:
- _branchID_
- _zipCode_


_Savings Account_ has the following properties:
- _accountID_
- _balance_
- _interestRate_


_Checking Account_ has the following properties:
- _accountID_
- _balance_


_Loan_ has the following properties.
- _loanID_
- _balance_
- _interestRate_


_Portfolio_ has the following properties:
- _portfolioID_
- _createdDate_

The data model has the following relationships:
- _Customer Branch_ connects a customer and a branch. A _Customer_ is connected to exactly one _Branch_. A _Branch_ may have 0, 1 or many customers.
- _Employee Branch_ connects an employee and a branch. An _Employee_ is connected to exactly one _Branch_. A _Branch_ may have 0, 1 or many associated employees.
- _Savings Account Branch_, _Checking Account Branch_, and _Loan Branch_ all have the same pattern.
    - An account/loan has exactly one branch.
    - A _Branch_ many have 0, 1 or many accounts/loans.
- _Savings Customer_, _Checking Customer_, _Loan Customer_, and _Portfolio Customer_ follow the same pattern. 
    - The account/loan has exactly one customer.
    - The customer may have 0 or 1 of each type of account.
- A _Portfolio_ is related to exactly one _Customer_, exactly one _Savings Account_, exactly one _Checking Account_, and exactly one _Loan_.
- _Portfolio Advisor_ relates a _Portfolio_ and _Employee_. An _Employee_ may be the advisor for 0, 1 or many _Portfolios_. A _Portfolio_ may have at most one _Employee_ advisor.

## Answer

1. Place your Logical Model diagram below.
2. You _may_ have to add attributes to entities to implement the model.
3. You _may_ make reasonable assumptions. Please document your assumptions below. You may add comments/notes to your diagram for clarity.

Assumptions:
1. There may be more than one branch located in the same zip code area. Hence, zipCode is not a primary key.
2. The portfolio may have at most one Employee advisor, so it is optional and is a zero-or-one relationship in that the portfolio may have zero advisors. 
3. Since the customer may only have 0 or 1 of Portfolio, customerID in portfolio is both a foreign key and a primary key
4. Since the customer can only have maximum 1 savings account, checking account or loan, and maximum 1 portfolio, and each portfolio is related to one and only one savings/checking account or loan, and portfolios are optional for the customer, we can assume that savings account, checking account, and loan are all associated with one-or-zero of portfolio, assuming savings/checking account and loans do not have to be part of a portfolio if the customer doesn't have one.

ER Diagram:

Save your diagram to an image, place in the same directory as your notebook and change the file name in the HTML ```img``` tag in this Markdown cell.

| <img src="./bankermodelling.png"> |
| :---: |
| __Logical ER Diagram__|

# Relational Algebra

## R-1

The following is the SQL DDL for the `db_book.classroom` table.

```
CREATE TABLE IF NOT EXISTS db_book.classroom
(
    building    VARCHAR(15) NOT NULL,
    room_number VARCHAR(7)  NOT NULL,
    capacity    DECIMAL(4)  NULL,
    PRIMARY KEY (building, room_number)
);
```

Using the notation from the lecture slides, provide the corresponding relation schema definition.

classroom(<u>building</u>, <u>room_number</u>, capacity)

## Answer Format

For the answers to the relational algebra questions, you will use the [RelaX calculator](https://dbis-uibk.github.io/relax/calc/gist/4f7866c17624ca9dfa85ed2482078be8/relax-silberschatz-english.txt/0) with the schema associated with the book. You answer should include the algebra statement in as text and a screenshot of the execution result. Question __R0__ below shows a sample of that the answer will look like.

## R0

Write a relational algebra statement that produces a table of the following form:
- ID is the instructor ID
- name is the instructor name
- course_id, sec_id, semester, year of a section
- building, room_number

__Note:__
1. You will have to use the instructor, teaches and section relations
2. Your answer should only include sections taught in ```Comp. Sci.``` in ```2009```

Algebra statement:

```
π ID, name, course_id, sec_id, semester, year, building, room_number(
	(σ dept_name='Comp. Sci.' ∧ year=2009 
		(teaches ⨝ instructor)
		) 
⨝ section)
```

Execution:

| <img src="./R0-sample.jpg"> |
| :---: |
| __RO Execution Result__|

## R1

Write a relational algebra statement that produces a relation with the columns:

- `student.name`
- `student.dept_name`
- `student.tot_cred`
- `instructor.name` (the instructor that advises the student)
- `instructor.dept_name`

Only keep students who have earned more than 90 credits.

__Note:__
1. You will have to use the `student`, `instructor`, and `advisor` relations.
2. You should only include students that have an advisor, i.e., `instructor.name` and `instructor.dept_name` should be non-null for all rows.

Algebra statement:

```
π student.name, student.dept_name, student.tot_cred, instructor.name, instructor.dept_name (
 (σ student.tot_cred > 90 
 	(student 
   ⨝ student.ID = advisor.s_id
	 advisor)
 )
 ⨝ advisor.i_id = instructor.ID
 instructor)
	
```

Execution:

| <img src="./R1.png">  |
| :---: |
| __R1 Execution Result__|

## R2

Write a relational algebra statement that produces a relation with the columns:

* `course_id`
* `title`
* `prereq_course_id`
* `prereq_course_title`

This relation represents courses and their prereqs.

__Note:__
1. This query requires the ```course``` and ```prereq``` tables.
2. Your answer should only include courses in the `Comp. Sci.` department.
2. If a course has no prereqs, `prereq_course_id` and `prereq_course_title` should both be *null*.
3. You _may_ have to use table and column renaming.

Algebra statement:

```
temp = (π course.course_id, course.title, prereq_id (
	( σ course.dept_name = 'Comp. Sci.'
	( course
		⨝ course.course_id = prereq.course_id
	  prereq)
	)
)) 


renamed_temp = ρ course_id2←course.course_id, title2←course.title, prereq_course_id←prereq.prereq_id  (π course.course_id, course.title, prereq.prereq_id ( temp ) )


final = π course_id2, title2, prereq_course_id, course.title (
(renamed_temp
⨝ prereq.prereq_course_id = course.course_id
course
)
)

ρ course_id←course.course_id2, title←course.title2, prereq_course_id←prereq.prereq_course_id, prereq_course_title←course.title  (π course.course_id2, course.title2, prereq.prereq_course_id, course.title ( final ) )


```

Execution:

| <img src="./R2.png"> |
| :---: |
| __R2 Execution Result__|

# SQL

## New Database

[MySQL Tutorial](https://www.mysqltutorial.org/) is a good site with information that complements and extends the core material in our course. Much of the material the site covers is applicable to other SQL products. MySQL Tutorial uses an interesting dataset that is more complex than the simple "db_book" database. This is the [Classic Models Dataset](https://www.mysqltutorial.org/getting-started-with-mysql/mysql-sample-database/). The complexity allows us to better appreciate more complex SQL concepts.


You learned how to run a SQL script/file as part of HW0. **Use the same approach to load and create the ```Classic Models Database```.** The file is ```classic-models-database.sql``` and is in the HW1 folder. 


To test loading the data, you can use the cell below.

In [12]:
%sql show tables;

 * mysql+pymysql://root:***@localhost
8 rows affected.

[('customers',),
 ('employees',),
 ('offices',),
 ('orderdetails',),
 ('orders',),
 ('payments',),
 ('productlines',),
 ('products',)]

In [11]:
%sql USE classicmodels;

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

## SQL 1

This query uses `customers` and `employees`.

Write and execute a SQL query that produces a table with the following columns:

- `customerContactName`
- `customerPhone`
- `salesRepName`

Only keep customers from France. Order your output by `customerContactName`.

Notes:
- The names of your columns must match exactly with what is specified.
- `customerContactName` can be formed by combining `customers.contactFirstName` and `customers.contactLastName`.
- `salesRepName` can be formed by combining `employees.firstName` and `employees.lastName`.

In [26]:
%%sql

SELECT 
    CONCAT(customers.contactFirstName, ' ', customers.contactLastName) AS customerContactName,
    customers.phone AS customerPhone,
    CONCAT(employees.firstName, ' ', employees.lastName) AS salesRepName
FROM 
    customers
JOIN 
    employees ON customers.salesRepEmployeeNumber = employees.employeeNumber
WHERE 
    customers.country = 'France'
ORDER BY 
    customerContactName;

 * mysql+pymysql://root:***@localhost
12 rows affected.

[('Annette  Roulet', '61.77.6555', 'Gerard Hernandez'),
 ('Carine  Schmitt', '40.32.2555', 'Gerard Hernandez'),
 ('Daniel  Tonini', '30.59.8555', 'Gerard Hernandez'),
 ('Daniel Da Silva', '+33 1 46 62 7555', 'Loui Bondur'),
 ('Dominique Perrier', '(1) 47.55.6555', 'Loui Bondur'),
 ('Frédérique  Citeaux', '88.60.1555', 'Gerard Hernandez'),
 ('Janine  Labrune', '40.67.8555', 'Gerard Hernandez'),
 ('Laurence  Lebihan', '91.24.4555', 'Loui Bondur'),
 ('Marie Bertrand', '(1) 42.34.2555', 'Loui Bondur'),
 ('Martine  Rancé', '20.16.1555', 'Gerard Hernandez'),
 ('Mary  Saveley', '78.32.5555', 'Loui Bondur'),
 ('Paul  Henriot', '26.47.1555', 'Loui Bondur')]

## SQL 2

This query uses `employees`, `customers`, `orders`, `orderdetails`.

Write and execute a SQL query that produces a table showing the amount of money each sales rep has generated.

Your table should have the following columns:

- `salesRepName`
- `moneyGenerated`

Order your output from greatest to least `moneyGenerated`.
    
Notes:
- The names of your columns must match exactly with what is specified.
- `salesRepName` can be formed by combining `employees.firstName` and `employees.lastName`.
- To calculate `moneyGenerated`:
    - Every order in `orders` is associated with multiple rows in `orderdetails`. The total amount of money spent on an order is the sum of `quantityOrdered * priceEach` for all the associated rows in `orderdetails`. **Only consider orders that are `Shipped`.**
    - A customer can have multiple orders. The total amount of money a customer has spent is the sum of the money spent on all that customer's orders.
    - A sales rep can have multiple customers. `moneyGenerated` is the sum of the money spent by all that sales rep's customers.
- You may find the [WITH keyword](https://www.tutorialspoint.com/mysql/mysql_with.htm) to be useful for cleaner code.

In [32]:
%%sql

WITH OrderAmounts AS (
    SELECT 
        orders.customerNumber, 
        SUM(orderdetails.quantityOrdered * orderdetails.priceEach) AS orderTotal
    FROM 
        orderdetails
    JOIN 
        orders ON orderdetails.orderNumber = orders.orderNumber
    WHERE 
        orders.status = 'Shipped'
    GROUP BY 
        orders.customerNumber
),
CustomerTotals AS (
    SELECT 
        customers.salesRepEmployeeNumber, 
        SUM(OrderAmounts.orderTotal) AS customerTotal
    FROM 
        OrderAmounts 
    JOIN 
        customers ON OrderAmounts.customerNumber = customers.customerNumber
    GROUP BY 
        customers.salesRepEmployeeNumber
)
SELECT 
    CONCAT(employees.firstName, ' ', employees.lastName) AS salesRepName, 
    SUM(CustomerTotals.customerTotal) AS moneyGenerated
FROM 
    CustomerTotals
JOIN 
    employees ON CustomerTotals.salesRepEmployeeNumber = employees.employeeNumber
GROUP BY 
    salesRepName
ORDER BY 
    moneyGenerated DESC;

 * mysql+pymysql://root:***@localhost
15 rows affected.

[('Gerard Hernandez', Decimal('1065035.29')),
 ('Leslie Jennings', Decimal('1021661.89')),
 ('Pamela Castillo', Decimal('790297.44')),
 ('Larry Bott', Decimal('686653.25')),
 ('Barry Jones', Decimal('637672.65')),
 ('George Vanauf', Decimal('584406.80')),
 ('Loui Bondur', Decimal('569485.75')),
 ('Peter Marsh', Decimal('523860.78')),
 ('Andy Fixter', Decimal('509385.82')),
 ('Foon Yue Tseng', Decimal('488212.67')),
 ('Mami Nishi', Decimal('457110.07')),
 ('Steve Patterson', Decimal('449219.13')),
 ('Martin Gerard', Decimal('387477.47')),
 ('Julie Firrelli', Decimal('386663.20')),
 ('Leslie Thompson', Decimal('307952.43'))]